# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Import csv
#---------------- DataFrame to 10 or fewer cities.
cities_vac_df = pd.read_csv("cities.csv")
# cities_clean_df = cities_vac_df.dropna()
# cities_clean_df.head(10)
# cities_heat = cities_vac_df.rename(columns={"Long":"Lng"})
# cities_heat.head(10)S
cities_vac_df

,City,Lat,Lng,Max Temp,Humidity,Wind,Cloudiness,Country,Date
0,cape town,-33.9258,18.4232,66.99,88,10.36,20,ZA,1611030633
1,punta arenas,-53.1500,-70.9167,48.20,76,5.75,20,CL,1611030739
2,kazachinskoye,57.6953,93.2761,2.26,89,11.45,100,RU,1611030739
3,bluff,-46.6000,168.3333,57.99,57,17.00,68,NZ,1611030739
4,broome,42.2506,-75.8330,28.99,93,9.22,90,US,1611030739
...,...,...,...,...,...,...,...,...,...
1133,murdochville,48.9583,-65.5006,17.60,79,20.71,80,CA,1611030887
1134,san juan de abajo,20.8167,-105.1833,70.00,82,2.95,42,MX,1611030887
1135,celestun,20.8667,-90.4000,68.23,76,13.67,10,MX,1611030887
1136,los ranchos de albuquerque,35.1620,-106.6428,44.01,45,28.77,90,US,1611030887
1137,iwanai,42.9744,140.5089,17.65,84,16.64,100,JP,1611030888

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#---------------- DataFrame to 10 or fewer cities.
# Create a  Heatmap layer
# Store latitude and longitude into  locations 
gmaps.configure(api_key=g_key)

# cities_vac_df["Lat"] = pd.to_numeric(cities_heat_df["Lat"])
# cities_vac_df["Lng"] = pd.to_numeric(cities_heat_df["Lng"])
locations = cities_vac_df[["Lat", "Lng"]].astype(float)
# print(locations)
humidity = cities_vac_df["Humidity"].astype(float)
fig = gmaps.figure(center = (20,0), zoom_level=2.2)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=200,
                                 point_radius = 5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
# A max temperature lower than 80 degrees but higher than 70.
ideal_df = cities_vac_df.loc[(cities_vac_df["Max Temp"])<80] 
ideal_df
idealtemp_df = ideal_df.loc[(ideal_df["Max Temp"])>70]
idealtemp_df
# Wind speed less than 10 mph.
idealwind_df = idealtemp_df.loc[(idealtemp_df["Wind"])<10]
idealwind_df
# Zero cloudiness.
idealcloud_df = idealwind_df.loc[(idealtemp_df["Cloudiness"])<1]
idealcloud_df
idealvac_df = idealcloud_df.dropna()
idealvac_df
# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

,City,Lat,Lng,Max Temp,Humidity,Wind,Cloudiness,Country,Date
9,veraval,20.9000,70.3667,77.97,28,6.11,0,IN,1611030740
30,general roca,-39.0333,-67.5833,71.60,60,2.30,0,AR,1611030747
33,sao jose da coroa grande,-8.8978,-35.1478,76.44,82,7.85,0,BR,1611030747
36,mar del plata,-38.0023,-57.5575,72.00,72,5.75,0,AR,1611030748
88,chipurupalle,18.3000,83.5667,75.81,57,2.55,0,IN,1611030505
128,port alfred,-33.5906,26.8910,71.01,85,1.01,0,ZA,1611030772
283,sur,22.5667,59.5289,77.81,36,5.10,0,OM,1611030814
330,longhua,23.6137,114.1919,71.76,22,3.02,0,CN,1611030826
345,cao bang,22.6667,106.2500,70.03,29,5.61,0,VN,1611030831
504,takoradi,4.8845,-1.7554,78.22,89,4.90,0,GH,1611030788
505,caravelas,-17.7125,-39.2481,72.88,87,4.36,0,BR,1611030872
534,tharad,24.3961,71.6267,73.63,35,9.04,0,IN,1611030879
550,axim,4.8699,-2.2405,77.41,91,4.34,0,GH,1611030883
578,veraval,20.9000,70.3667,77.97,28,6.11,0,IN,1611030740
599,general roca,-39.0333,-67.5833,71.60,60,2.30,0,AR,1611030747
602,sao jose da coroa grande,-8.8978,-35.1478,76.44,82,7.85,0,BR,1611030747
605,mar del plata,-38.0023,-57.5575,72.00,72,5.75,0,AR,1611030748
657,chipurupalle,18.3000,83.5667,75.81,57,2.55,0,IN,1611030505
697,port alfred,-33.5906,26.8910,71.01,85,1.01,0,ZA,1611030772
852,sur,22.5667,59.5289,77.81,36,5.10,0,OM,1611030814
899,longhua,23.6137,114.1919,71.76,22,3.02,0,CN,1611030826
914,cao bang,22.6667,106.2500,70.03,29,5.61,0,VN,1611030831
1073,takoradi,4.8845,-1.7554,78.22,89,4.90,0,GH,1611030788
1074,caravelas,-17.7125,-39.2481,72.88,87,4.36,0,BR,1611030872
1103,tharad,24.3961,71.6267,73.63,35,9.04,0,IN,1611030879
1119,axim,4.8699,-2.2405,77.41,91,4.34,0,GH,1611030883

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
# Store df into variable and add Hotel column
hotel_df=idealvac_df
hotel_df.head()
hotel_df["Hotel Name"] = ""
hotel_df.head()

# find hotels 5000 m
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# set up a parameters dictionary
locations = hotel_df[["Lat", "Lng"]]
params = {
    "location": locations,
    "radius": 5000,
    "type": "lodging",
    "key": g_key
    
}
# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():
    
    # assemble url and make API request
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        hotel_df.loc[index, "Hotel Name"] = results[0]["name"]
               
    except (KeyError, IndexError):
        print("Missing")
                
hotel_df.head()

# Using Google Places API to find the first hotel for each city located within 5000 meters of your coordinates.
# Plot the hotels on top of the humidity heatmap with each pin containing the Hotel Name, City, and Country.
# For Part II, you must include a screenshot of the heatmap you create and include it in your submission.

Missing
Missing
Missing
Missing
Missing
Missing
Missing
Missing
Missing
Missing
Missing
Missing
Missing
Missing
Missing
Missing
Missing
Missing
Missing
Missing
Missing
Missing
Missing
Missing
Missing
Missing

,City,Lat,Lng,Max Temp,Humidity,Wind,Cloudiness,Country,Date,Hotel Name
9,veraval,20.9000,70.3667,77.97,28,6.11,0,IN,1611030740,
30,general roca,-39.0333,-67.5833,71.60,60,2.30,0,AR,1611030747,
33,sao jose da coroa grande,-8.8978,-35.1478,76.44,82,7.85,0,BR,1611030747,
36,mar del plata,-38.0023,-57.5575,72.00,72,5.75,0,AR,1611030748,
88,chipurupalle,18.3000,83.5667,75.81,57,2.55,0,IN,1611030505,

In [6]:
locations = hotel_df[["Lat", "Lng"]].astype(float)
# print(locations)
humidity = hotel_df["Humidity"].astype(float)
fig = gmaps.figure(center = (20,0), zoom_level=2.2)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=200,
                                 point_radius = 5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [7]:
# Add marker layer ontop of heat map
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_df = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

# Display figure
hotel_df

TypeError: list indices must be integers or slices, not list